* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    text-align: center;
    line-height: 38px;
    max-width: 1100px;
    margin: 0 auto;
}


body {
    background-color: rgb(243, 243, 243);
}

#title {
    padding: 15px;
    text-transform: uppercase; 
    background-color:  rgb(224, 224, 224); 
}

#img-div img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin-top: 20px
}

#img-caption {
    font-weight: 600;
}

#tribute-info {
    background-color:  rgb(224, 224, 224); 
}

#tribute-link {
    color: rgb(117, 3, 3);
    font-weight: 600;
}